DOCS/newflowonbun/local
[{"id":"80f8a74d09dd9b8e","type":"tab","label":"AIS","disabled":false,"info":"","env":[]},{"id":"ae7890e813af4267","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2590ae46bd9c0975","type":"websocket-client","path":"ws://127.0.0.1:3000/signalk/v1/stream?subscribe=all","tls":"","wholemsg":"false","hb":"0","subprotocol":"","headers":[]},{"id":"533df2df74dc5c0e","type":"websocket-listener","path":"/ws/realtimeais","wholemsg":"false"},{"id":"0960ae41486c6ef0","type":"serial-port","name":"","serialport":"/dev/ttyS0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"74fe7d0daccf3197","type":"MySQLdatabase","name":"bmss","host":"127.0.0.1","port":"3306","db":"bmss","tz":"","charset":"UTF8"},{"id":"e10002965ec3a441","type":"mqtt-broker","name":"","broker":"mqtt.cakrawala.id","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"da6c40b61797a63b","type":"websocket-listener","path":"/ws/realtimeaisbmss","wholemsg":"false"},{"id":"41f722fb57d5f45e","type":"websocket-client","path":"wss://nrbmss.cakrawala.id/ws/realtimeaisbmss","tls":"","wholemsg":"false","hb":"0","subprotocol":"","headers":[]},{"id":"6d009caf2999efae","type":"http request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1690,"y":120,"wires":[["8e574384b6ad5386","c45757b64b775574"]]},{"id":"91f07b0b1beac785","type":"function","z":"80f8a74d09dd9b8e","name":"function 1","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8081/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":120,"wires":[["fccc4b84550db0a4"]]},{"id":"87113fc21a601501","type":"split","z":"80f8a74d09dd9b8e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":310,"y":100,"wires":[["598bf7a64767202f","10c9f171092ecb97","ca21fc6185279825"]]},{"id":"9e582d152143cdb2","type":"function","z":"80f8a74d09dd9b8e","name":"function 2","func":"flow.set(\"dataais\", msg.payload)\nmsg.payload = msg.payload.source\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":120,"wires":[["02f82ac6b123a9d7"]]},{"id":"598bf7a64767202f","type":"function","z":"80f8a74d09dd9b8e","name":"function 6","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":60,"wires":[["bb393fdd3886b308","8ca7be96b9aebb4f"]]},{"id":"db85db0c414fe9cb","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"regex","v":"^(0\\d{8}|1\\d{8}|2\\d{8}|3\\d{8}|4\\d{8}|5\\d{8}|6\\d{8}|7\\d{8}|8\\d{8}|9\\d{8})$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":120,"wires":[["9e582d152143cdb2"]]},{"id":"03f0db8f60e81b36","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":20,"wires":[["a5d56ae4d1ade438"]]},{"id":"a5d56ae4d1ade438","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":20,"wires":[["02b43f7af9a2a960","22f5244112f7294d","3865c0ff7584c74c"]]},{"id":"02b43f7af9a2a960","type":"function","z":"80f8a74d09dd9b8e","name":"function 11","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8081/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":20,"wires":[["92e91a9d426856c0"]]},{"id":"92e91a9d426856c0","type":"http request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1230,"y":20,"wires":[["c0caf1fab454630a"]]},{"id":"10c9f171092ecb97","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"GPRMC","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":180,"wires":[["2716dfc702639cb5"]]},{"id":"2716dfc702639cb5","type":"function","z":"80f8a74d09dd9b8e","name":"function 14","func":"var pl = String(msg.payload);\nmsg.payload = pl;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":180,"wires":[["b70bafccf996f9a1"]]},{"id":"336a6319b86be83d","type":"function","z":"80f8a74d09dd9b8e","name":"function 15","func":"msg.method = \"POST\"\nmsg.url = \"http://127.0.0.1:8081/api/position\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":180,"wires":[["8a3b3fc7f736be8b","6ab67fbb198d84ae"]]},{"id":"b4d341711f45a650","type":"http request","z":"80f8a74d09dd9b8e","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1450,"y":180,"wires":[[]]},{"id":"22f5244112f7294d","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 26","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":80,"wires":[]},{"id":"8e574384b6ad5386","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1900,"y":60,"wires":[]},{"id":"fccc4b84550db0a4","type":"delay","z":"80f8a74d09dd9b8e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1430,"y":120,"wires":[["6d009caf2999efae"]]},{"id":"ca21fc6185279825","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 35","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":200,"wires":[]},{"id":"c9e896a9d8f3899b","type":"tcp out","z":"80f8a74d09dd9b8e","name":"","host":"","port":"5005","beserver":"server","base64":false,"end":false,"tls":"","x":480,"y":300,"wires":[]},{"id":"14e9bcc05c762d59","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 37","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":400,"wires":[]},{"id":"d401a3092e671681","type":"tcp out","z":"80f8a74d09dd9b8e","name":"","host":"46.250.236.199","port":"5008","beserver":"client","base64":false,"end":false,"tls":"","x":530,"y":360,"wires":[]},{"id":"8db69fd599926c4e","type":"split","z":"80f8a74d09dd9b8e","name":"","splt":"\\","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":330,"y":500,"wires":[["2fa1dec95014345e"]]},{"id":"14990ed27f76e708","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":500,"wires":[["efab2dc2cb23a0d5","295f355559f78be6"]]},{"id":"efab2dc2cb23a0d5","type":"function","z":"80f8a74d09dd9b8e","name":"function 17","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":460,"wires":[["4592e311cb61f618"]]},{"id":"295f355559f78be6","type":"function","z":"80f8a74d09dd9b8e","name":"function 18","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp\", msg.payload)\nconst mmsi = msg.payload.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":540,"wires":[["7706cb273f8dc673"]]},{"id":"92602447469322e4","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":460,"wires":[["e2dd1b564fa01067"]]},{"id":"f62477c2fd9c1703","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1170,"y":540,"wires":[["e2dd1b564fa01067"]]},{"id":"8946f6e22661f07b","type":"mqtt in","z":"80f8a74d09dd9b8e","name":"","topic":"aispybadak","qos":"2","datatype":"auto-detect","broker":"ae7890e813af4267","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":580,"wires":[["8e93e9096c3f1fb6","1dfdec3e1dfe47f0"]]},{"id":"8e93e9096c3f1fb6","type":"function","z":"80f8a74d09dd9b8e","name":"function 22","func":"// Function to extract key-value pairs from the input string\nfunction parseMessageType3(input) {\n    // Remove \"MessageType3(\" and the trailing \")\"\n    let cleaned = input.replace(/^MessageType3\\(|\\)$/g, '');\n\n    // Extract key-value pairs by splitting on \", \" and processing each entry\n    let parts = cleaned.split(/, (?![^<>]*>)/);\n    let obj = {};\n\n    parts.forEach(part => {\n        let [key, value] = part.split('=');\n        \n        // Clean up key and value\n        key = key.trim();\n        value = value.trim();\n\n        // Process specific types of values\n        if (value.startsWith('<') && value.endsWith('>')) {\n            // Extract enum-like values (e.g. \"<NavigationStatus.AtAnchor: 1>\")\n            value = value.match(/<[^.]+\\.(.+):/)[1]; // extract the enum value\n        } else if (!isNaN(parseFloat(value))) {\n            // Handle numeric values\n            value = parseFloat(value);\n        } else if (value === 'True' || value === 'False') {\n            // Handle boolean values\n            value = value === 'True';\n        } else if (value.startsWith(\"b'\")) {\n            // Handle byte array (e.g. b'\\x00')\n            value = value.replace(/^b'|\\'$/g, '');\n        }\n\n        obj[key] = value;\n    });\n\n    return obj;\n}\n\n// Parse the input string and convert to JSON\nlet parsedData = parseMessageType3(msg.payload);\n\n// Set the parsed JSON object as the output message payload\nmsg.payload = parsedData;\n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":600,"wires":[["14990ed27f76e708"]]},{"id":"1dfdec3e1dfe47f0","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 34","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":660,"wires":[]},{"id":"756ecf45a722b378","type":"websocket in","z":"80f8a74d09dd9b8e","name":"","server":"","client":"2590ae46bd9c0975","x":250,"y":720,"wires":[["322ce8f1fa8bd0f3"]]},{"id":"322ce8f1fa8bd0f3","type":"json","z":"80f8a74d09dd9b8e","name":"","property":"payload","action":"","pretty":false,"x":570,"y":720,"wires":[["cdcf55fa51af5d08"]]},{"id":"cdcf55fa51af5d08","type":"function","z":"80f8a74d09dd9b8e","name":"function 23","func":"const mmsi = msg.payload.updates[0].values[0].value.mmsi;\nmsg.mmsi = mmsi\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":720,"wires":[["dff17ad5742a73c3"]]},{"id":"dff17ad5742a73c3","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":720,"wires":[["4ef0a8d5c4eb59a2","d04f9399215f48c5"]]},{"id":"4ef0a8d5c4eb59a2","type":"function","z":"80f8a74d09dd9b8e","name":"function 24","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM ais_data_vessels WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":660,"wires":[["9da7a47e6a44b610"]]},{"id":"d04f9399215f48c5","type":"function","z":"80f8a74d09dd9b8e","name":"function 25","func":"// Extract the MMSI (senderMmsi) from the incoming message\nflow.set(\"dataaistemp2\", msg.payload)\nconst mmsi = msg.mmsi;\n\n// Construct the SQL SELECT query\nconst query = `SELECT * FROM vessel_list_20240621 WHERE mmsi = '${mmsi}'`;\n\n// Set the query to the message topic (required by the MySQL node)\nmsg.topic = query;\n\n// Return the message object to the MySQL node\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":720,"wires":[["f929ef22a34db068"]]},{"id":"e2dd1b564fa01067","type":"function","z":"80f8a74d09dd9b8e","name":"function 19","func":"const aisdata1 = flow.get(\"dataaistemp\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":500,"wires":[["d8f4159af28913e7"]]},{"id":"8055ea02a51be53f","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":720,"wires":[["bf26b02c8a114b27"]]},{"id":"52dec14bc7816c38","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1450,"y":640,"wires":[["bf26b02c8a114b27"]]},{"id":"d8f4159af28913e7","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.mmsi","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1510,"y":500,"wires":[["8fe18eb9da8c33ec"]]},{"id":"8fe18eb9da8c33ec","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.latitude","propertyType":"msg","rules":[{"t":"regex","v":"^(-([0-9]|10|11)\\.\\d+|[0-5]\\.\\d+|6\\.0*)$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1670,"y":500,"wires":[["f9d25aa5626af0f0"]]},{"id":"bf26b02c8a114b27","type":"function","z":"80f8a74d09dd9b8e","name":"function 26","func":"const aisdata1 = flow.get(\"dataaistemp2\")\nconst aisdata2 = msg.payload[0]\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1610,"y":680,"wires":[["e62f3ddea0e4ed11"]]},{"id":"e62f3ddea0e4ed11","type":"function","z":"80f8a74d09dd9b8e","name":"function 27","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.uuid,  // Mapping 'uuid' to 'id'\n        \"vessel\": {\n            \"vessel_name\": originalJson1.name,  // Mapping 'name' to 'vessel_name'\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught || null,  // If missing, fallback to null\n            \"dimension_to_bow\": originalJson1.dimension_to_bow || null,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern || null,\n            \"dimension_to_port\": originalJson1.dimension_to_port || null,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard || null,\n            \"reported_destination\": originalJson1.reported_destination || null,\n            \"out_of_range\": originalJson1.out_of_range || null,\n            \"type_number\": originalJson1.type_number || null,\n            \"reported_eta\": originalJson1.reported_eta || null,\n            \"no_pkk\": originalJson1.no_pkk || null,\n            \"jenis_layanan\": originalJson1.jenis_layanan || null,\n            \"nama_negara\": originalJson1.country || null,  // Mapping 'country' to 'nama_negara'\n            \"tipe_kapal\": originalJson1.vessel_type_specific || null,  // Mapping 'vessel_type_specific' to 'tipe_kapal'\n            \"nama_perusahaan\": originalJson1.nama_perusahaan || null,\n            \"tgl_tiba\": originalJson1.tgl_tiba || null,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat || null,\n            \"bendera\": originalJson1.country || null,  // Mapping 'country' to 'bendera'\n            \"gt_kapal\": originalJson1.gross_tonnage || null,  // Mapping 'gross_tonnage' to 'gt_kapal'\n            \"dwt\": originalJson1.deadweight || null,  // Mapping 'deadweight' to 'dwt'\n            \"nakhoda\": originalJson1.nakhoda || null,\n            \"jenis_trayek\": originalJson1.jenis_trayek || null,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal || null,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan || null,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh || null,\n            \"nomor_spog\": originalJson1.nomor_spog || null,\n            \"jenis_muatan\": originalJson1.jenis_muatan || null,\n            \"no_pandu\": originalJson1.no_pandu || null,\n            \"nama_pandu\": originalJson1.nama_pandu || null,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks || null,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik || null,\n            \"loa\": originalJson1.length || null,  // Mapping 'length' to 'loa'\n            \"counting_hari\": originalJson1.counting_hari || null,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari || null,\n            \"last_update_counting\": originalJson1.last_update_counting || null,\n            \"isAssign\": originalJson1.isAssign || null,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet || null,\n            \"created_at\": originalJson1.created_at || null,\n            \"updated_at\": originalJson1.updated_at || null\n        },\n        \"channel\": originalJson1.channel || null,\n        \"messageType\": originalJson1.messageType || null,\n        \"repeatIndicator\": originalJson1.repeatIndicator || null,\n        \"senderMmsi\": originalJson1.senderMmsi || null,\n        \"navigationStatus\": originalJson1.navigationStatus || null,\n        \"speed\": originalJson1.updates[0].values.find(v => v.path === 'navigation.speedOverGround')?.value || null,\n        \"positionAccurate\": originalJson1.positionAccurate || null,\n        \"longitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.longitude || null,\n        \"latitude\": originalJson1.updates[0].values.find(v => v.path === 'navigation.position')?.value.latitude || null,\n        \"course\": originalJson1.updates[0].values.find(v => v.path === 'navigation.courseOverGroundTrue')?.value || null,\n        \"heading\": originalJson1.updates[0].values.find(v => v.path === 'navigation.headingTrue')?.value || null,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds || null,\n        \"raim\": originalJson1.raim || null,\n        \"radioStatus\": originalJson1.radioStatus || null,\n        \"talkerId\": originalJson1.updates[0].source.talker || null,\n        \"sentenceId\": originalJson1.sentenceId || null,\n        \"talkerId_text\": originalJson1.talkerId_text || null,\n        \"sentenceId_text\": originalJson1.sentenceId_text || null,\n        \"messageType_text\": originalJson1.messageType_text || null,\n        \"navigationStatus_text\": originalJson1.navigationStatus || null,\n        \"navigation_status\": originalJson1.navigationStatus || null,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":680,"wires":[["5d6380dc25727d91"]]},{"id":"5d6380dc25727d91","type":"websocket out","z":"80f8a74d09dd9b8e","name":"","server":"533df2df74dc5c0e","client":"","x":2030,"y":680,"wires":[]},{"id":"f9d25aa5626af0f0","type":"switch","z":"80f8a74d09dd9b8e","name":"","property":"payload.longitude","propertyType":"msg","rules":[{"t":"regex","v":"^(9[5-9]|1[0-3][0-9]|14[0-1])\\.\\d+$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1810,"y":500,"wires":[["62a55fd5c4261ebe","61f2e825d9253a90"]]},{"id":"61f2e825d9253a90","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 33","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1840,"y":560,"wires":[]},{"id":"62a55fd5c4261ebe","type":"function","z":"80f8a74d09dd9b8e","name":"function 21","func":"const originalJson1 = msg.payload;\n\nconst transformedJson1 = {\n    \"aisData\": {\n        \"id\": originalJson1.id,\n        \"vessel\": {\n            \"vessel_name\": originalJson1.vessel_name,\n            \"vessel_type\": originalJson1.vessel_type,\n            \"mmsi\": originalJson1.mmsi,\n            \"imo\": originalJson1.imo,\n            \"callsign\": originalJson1.callsign,\n            \"draught\": originalJson1.draught,\n            \"dimension_to_bow\": originalJson1.dimension_to_bow,\n            \"dimension_to_stern\": originalJson1.dimension_to_stern,\n            \"dimension_to_port\": originalJson1.dimension_to_port,\n            \"dimension_to_starboard\": originalJson1.dimension_to_starboard,\n            \"reported_destination\": originalJson1.reported_destination,\n            \"out_of_range\": originalJson1.out_of_range,\n            \"type_number\": originalJson1.type_number,\n            \"reported_eta\": originalJson1.reported_eta,\n            \"no_pkk\": originalJson1.no_pkk,\n            \"jenis_layanan\": originalJson1.jenis_layanan,\n            \"nama_negara\": originalJson1.nama_negara,\n            \"tipe_kapal\": originalJson1.tipe_kapal,\n            \"nama_perusahaan\": originalJson1.nama_perusahaan,\n            \"tgl_tiba\": originalJson1.tgl_tiba,\n            \"tgl_brangkat\": originalJson1.tgl_brangkat,\n            \"bendera\": originalJson1.bendera,\n            \"gt_kapal\": originalJson1.gt_kapal,\n            \"dwt\": originalJson1.dwt,\n            \"nakhoda\": originalJson1.nakhoda,\n            \"jenis_trayek\": originalJson1.jenis_trayek,\n            \"pelabuhan_asal\": originalJson1.pelabuhan_asal,\n            \"pelabuhan_tujuan\": originalJson1.pelabuhan_tujuan,\n            \"lokasi_lambat_labuh\": originalJson1.lokasi_lambat_labuh,\n            \"nomor_spog\": originalJson1.nomor_spog,\n            \"jenis_muatan\": originalJson1.jenis_muatan,\n            \"no_pandu\": originalJson1.no_pandu,\n            \"nama_pandu\": originalJson1.nama_pandu,\n            \"nama_kapal_eks\": originalJson1.nama_kapal_eks,\n            \"nama_kapal_pemilik\": originalJson1.nama_kapal_pemilik,\n            \"loa\": originalJson1.loa,\n            \"counting_hari\": originalJson1.counting_hari,\n            \"tgl_counting_hari\": originalJson1.tgl_counting_hari,\n            \"last_update_counting\": originalJson1.last_update_counting,\n            \"isAssign\": originalJson1.isAssign,\n            \"nama_kapal_inaportnet\": originalJson1.nama_kapal_inaportnet,\n            \"created_at\": originalJson1.created_at,\n            \"updated_at\": originalJson1.updated_at\n        },\n        \"channel\": originalJson1.channel,\n        \"messageType\": originalJson1.messageType,\n        \"repeatIndicator\": originalJson1.repeatIndicator,\n        \"senderMmsi\": originalJson1.senderMmsi,\n        \"navigationStatus\": originalJson1.navigationStatus,\n        \"speed\": originalJson1.speedOverGround,\n        \"positionAccurate\": originalJson1.positionAccurate,\n        \"longitude\": originalJson1.longitude,\n        \"latitude\": originalJson1.latitude,\n        \"course\": originalJson1.courseOverGround,\n        \"heading\": originalJson1.courseOverGround,\n        \"timeStampSeconds\": originalJson1.timeStampSeconds,\n        \"raim\": originalJson1.raim,\n        \"radioStatus\": originalJson1.radioStatus,\n        \"talkerId\": originalJson1.talkerId,\n        \"sentenceId\": originalJson1.sentenceId,\n        \"talkerId_text\": originalJson1.talkerId_text,\n        \"sentenceId_text\": originalJson1.sentenceId_text,\n        \"messageType_text\": originalJson1.messageType_text,\n        \"navigationStatus_text\": originalJson1.navigationStatus,\n        \"navigation_status\": originalJson1.navigationStatus,\n        \"timestamp\": new Date().toISOString(),\n        \"distance\": 0,\n        \"is_inside_geofence\": 0,\n        \"is_geofence\": 0,\n        \"created_at\": new Date().toISOString(),\n        \"updated_at\": new Date().toISOString()\n    }\n};\n\nmsg.payload = transformedJson1;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1970,"y":500,"wires":[["bffad33a1e5aa131"]]},{"id":"bffad33a1e5aa131","type":"websocket out","z":"80f8a74d09dd9b8e","name":"","server":"533df2df74dc5c0e","client":"","x":2170,"y":500,"wires":[]},{"id":"c0caf1fab454630a","type":"debug","z":"80f8a74d09dd9b8e","name":"debug 38","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1720,"y":20,"wires":[]},{"id":"bb393fdd3886b308","type":"ais","z":"80f8a74d09dd9b8e","name":"","x":610,"y":120,"wires":[["db85db0c414fe9cb"]]},{"id":"2fa1dec95014345e","type":"ais","z":"80f8a74d09dd9b8e","name":"","x":490,"y":500,"wires":[["14990ed27f76e708"]]},{"id":"02f82ac6b123a9d7","type":"ais-decoder","z":"80f8a74d09dd9b8e","name":"","x":1050,"y":120,"wires":[["91f07b0b1beac785","2c7d6ecdd4bb8cbf"]]},{"id":"8ca7be96b9aebb4f","type":"ais-decoder","z":"80f8a74d09dd9b8e","name":"","x":610,"y":20,"wires":[["03f0db8f60e81b36"]]},{"id":"b70bafccf996f9a1","type":"nmea","z":"80f8a74d09dd9b8e","name":"","property":"payload","outputProperty":"payload","x":910,"y":180,"wires":[["336a6319b86be83d"]]},{"id":"4592e311cb61f618","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"74fe7d0daccf3197","name":"","x":1010,"y":460,"wires":[["92602447469322e4"]]},{"id":"7706cb273f8dc673","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"74fe7d0daccf3197","name":"","x":1010,"y":540,"wires":[["f62477c2fd9c1703"]]},{"id":"9da7a47e6a44b610","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"74fe7d0daccf3197","name":"","x":1290,"y":640,"wires":[["52dec14bc7816c38"]]},{"id":"f929ef22a34db068","type":"mysql","z":"80f8a74d09dd9b8e","mydb":"74fe7d0daccf3197","name":"","x":1290,"y":720,"wires":[["8055ea02a51be53f"]]},{"id":"d4e1fbff763f48b5","type":"tcp in","z":"80f8a74d09dd9b8e","name":"","server":"client","host":"10.0.0.125","port":"5005","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":150,"y":40,"wires":[["87113fc21a601501","8db69fd599926c4e","d401a3092e671681"]]},{"id":"8a3b3fc7f736be8b","type":"delay","z":"80f8a74d09dd9b8e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1230,"y":180,"wires":[["b4d341711f45a650"]]},{"id":"3865c0ff7584c74c","type":"function","z":"80f8a74d09dd9b8e","name":"function 48","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenbmss.cakrawala.id/api/aisstatic\"\nconst aisdata2 = msg.payload\nmsg.payload = aisdata2;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":240,"wires":[["92e91a9d426856c0"]]},{"id":"6ab67fbb198d84ae","type":"function","z":"80f8a74d09dd9b8e","name":"function 50","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenbmss.cakrawala.id/api/position\"\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":320,"wires":[["b4d341711f45a650"]]},{"id":"2c7d6ecdd4bb8cbf","type":"function","z":"80f8a74d09dd9b8e","name":"function 45","func":"msg.method = \"POST\"\nmsg.url = \"https://lumenbmss.cakrawala.id/api/aisdata\"\nconst aisdata1 = flow.get(\"dataais\")\nconst aisdata2 = msg.payload\nconst joinedObject = { ...aisdata2, ...aisdata1 };\nmsg.payload = joinedObject;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":280,"wires":[["6d009caf2999efae"]]},{"id":"c45757b64b775574","type":"mqtt out","z":"80f8a74d09dd9b8e","name":"","topic":"aisbmssmqtt","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e10002965ec3a441","x":1850,"y":220,"wires":[]}]